bookshelf.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT bookshelf (book+)>
<!ELEMENT book (author, title, publisher, publishdate, description,location)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT publishdate (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT location (#PCDATA)>

